<template name="RightPanel">
	<form class="list-group table-of-contents">
		<div class="form-group">
			<select class="form-control" id="control-select"></select>
		</div>
		<div class="form-group">
			<div class="checkbox" id="force-checkbox-div">
				<label>
					<input type="checkbox" id="force-select">
					Force select from list
				</label>
			</div>
		</div>
		<div class="form-group">
			<button class="form-control btn-danger" id="add-control" href="#">Add</button>
		</div>
		<div class="form-group">
			<button class="form-control btn-warning" id="remove-control" href="#">rem</button>
		</div>
		<div class="form-group">
			<button class="form-control btn-info" id="rename-control" href="#">rename</button>
		</div>
		<div class="form-group">
			<button class="form-control btn-success" id="change-type" href="#">Change type</button>
		</div>
		<div class="form-group">
			<input type="text" disabled class="form-control" id="control-type">
		</div>
	</form>
</template>
